<% if session[:user_id] %>
  <div class="well" id="comment-section">
  <%= form_for [@product, @review], url: "/products/#{@product.id}/reviews" do |form| %>
    <%= form.label :description %>
    <div class="form-group">
      <%= form.text_area :description, class: "form-control"%>
    </div>

    <%= form.label :rating %>
    <div class="form-group">
      <%= select_tag 'review[rating]', options_for_select([1,2,3,4,5]), class: "form-control" %>
    </div>

    <%= form.submit "Add Review", class: "btn btn-success btn-sm"%>
  <% end %>
  </div>
<% end %>