<table class="table table-hover">
  <colgroup>
      <col class="col-md-2">
      <col class="col-md-2">
      <col class="col-md-6">
      <col class="col-md-2">
      <col class="col-md-1">
  </colgroup>
  <thead>
    <tr>
      <th>Reviewer</th>
      <th>Rating</th>
      <th>Reviews</th>
      <th>Date</th>

    </tr>
  </thead>
  <tbody>
    <% @product.review.each do |review| %>
      <tr>
        <td><%= review.user.first_name %> <%= review.user.last_name %></td>
        <td>
          <% review.rating.times do %>
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <% end %>
        </td>
        <td><%= review.description %></td>
        <td><%= review.created_at.strftime("%Y-%m-%d") %></td>
        <td>
          <% if review.user.id == session[:user_id] %>
             <%= link_to 'Delete', "/products/#{@product.id}/reviews/#{review.id}", method: :delete, class: 'btn btn-danger btn-xs' %>
          <% else %>
            <span></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
